.result-card {
  display: flex;
  flex-direction: row;
  background: var(--white);
  border-radius: 32px;
  box-shadow: 10px 30px 60px hsla(224, 82%, 58%, 0.2);
  overflow: hidden;
  width: 100%;
  max-width: 736px;
}

@media (max-width: 600px) {
  .result-card {
    flex-direction: column;
    border-radius: 0;
    max-width: 375px;
    min-height: 100vh;
  }
}